<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- Runtime environment -->
    <add key="Environment" value="Localhost" />

    <!-- Logging settings  -->
    <add key="SeqServerUri" value="http://localhost:5341/" />
    <add key="MinimumLogLevel" value="Debug" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />

    <!-- set culture of site to australian -->
    <globalization culture="en-AU" uiCulture="en-AU" />
    
    <!-- configuring a static machineKey so it will apply to all web servers in a web farm as well as survive iis resets -->
    <machineKey decryption="AES" decryptionKey="5E28C03D8BFD7DE068EB47EFC78B6B33B207D0CA658D555D,IsolateApps" validationKey="E15A52B6EC547635C6CAF266446775A5C4FF5157A3E0902E77F46C7159622E90ACD10CA6412420F880D8FDE756FA69DC291A5188D976B23326CDE58E02586413,IsolateApps" />
  </system.web>

  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
    <runtimePolicies>
      <ignoredTypes>
        <add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet" />
      </ignoredTypes>
    </runtimePolicies>
  </glimpse>
  
  <system.webServer>
    <modules>
      <remove name="Glimpse" />
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
      <remove name="ErrorHandlingModule" />
      <add name="ErrorHandlingModule" type="ContosoUniversity.Web.Infrastructure.ErrorHandling.ErrorHandlingModule" />
    </modules>
    <handlers>
      <remove name="Glimpse" />
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
